@charset "utf-8";
table.calendar{
	/*border-left:1px solid #999;*/
	width: 600px;
	height: 220px;
}
tr.calendar-row	{
	font-family: 'Comfortaa', cursive;
}
tr td:first-child, tr td:last-child{
	color: #80BB2F;
}
td.calendar-day	{ 
  min-height:80px;
  font-size:11px;
  position:relative; 
} 
td .today{
	color: #0086D7;
}
* html div.calendar-day { 
  height:80px; 
}
td.calendar-day:hover	{
   background:#eceff5; 
}
td.calendar-day-np	{
   padding: 0px !important; 
} 
* html div.calendar-day-np { 
   height:80px; 
}
td.calendar-day-head { 
  /*background:#ccc;*/
  font-weight:bold;
  text-align:center;
  width:48px;
  padding:5px;
  /*border-bottom:1px solid #999;
  border-top:1px solid #999;
  border-right:1px solid #999; */
}
div.day-number	{
  padding:5px;
  font-weight:bold;
  text-align:center; 
}
/* shared */
td.calendar-day, td.calendar-day-np { 
  /*width:120px;*/
  padding:5px;
  /*border-bottom:1px solid #999;
  border-right:1px solid #999; */
}
