@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {
  display: inline-block;
}
html[xmlns] .clearfix {
  display: block;
}
* html .clearfix {
  height: 1%;
}
.noselect {
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}
.cal1 h4 {
  width: 75%;
  text-align: center;
  font-family: 'Droid Sans Mono';
  font-weight: normal;
  color: white;
  font-size: 14px;
  margin: 0 auto 1em auto;
  padding: 1em;
  background: #b63642;
}
.cal1 p {
  text-align: center;
  font-family: 'Droid Sans Mono';
  margin: 3em auto 1em auto;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 2px solid #414141;
  background: #f4f4f4;
}
.cal1 {
  margin: 0px auto;
  width: 550px;
  font-family: 'Droid Sans Mono';
  font-size: 14px;
  float: right;
}
.cal1 .clndr .clndr-controls {
  display: inline-block;
  width: 100%;
  position: relative;
  background-color: #69a776;
  color: white;
  font-weight: bold;
  padding: 5px 0px;
}
.cal1 .clndr .clndr-controls .month {
  float: left;
  width: 33%;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}
.cal1 .clndr .clndr-controls .clndr-control-button {
  float: left;
  width: 33%;
}
.cal1 .clndr .clndr-controls .clndr-control-button.rightalign {
  text-align: right;
  width: 34%;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button {
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  padding: 5px;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button:hover {
  background: #528B5E;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button.inactive {
  opacity: 0.5;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button.inactive:hover {
  background: none;
  cursor: default;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button {
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  padding: 5px;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button:hover {
  background: #528B5E;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button.inactive {
  opacity: 0.5;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button.inactive:hover {
  background: none;
  cursor: default;
}
.cal1 .clndr .clndr-table {
  table-layout: fixed;
  width: 100%;
}
.cal1 .clndr .clndr-table .header-days {
  height: 30px;
  font-weight: bold;
  background-color: #97ce7f;
padding-top: 5px;
padding-bottom: 5px;
}
.cal1 .clndr .clndr-table .header-days .header-day {
  vertical-align: middle;
  text-align: center;
  color: #fff;
  font-family: Asap, Helvetica, Arial;
}
.cal1 .clndr .clndr-table .header-days .header-day:last-child {
  /*border-right: 1px solid #000000;*/
}
.cal1 .clndr .clndr-table tr {
  height: 40px;
}
.cal1 .clndr .clndr-table tr td {
  /*vertical-align: top;*/
}
.cal1 .clndr .clndr-table tr .day {
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  background-color: #EBEBEB;
  width: 100%;
  height: inherit;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;

}
.cal1 .clndr .clndr-table tr .day:hover {
  background: #B8B8B8;
}
.cal1 .clndr .clndr-table tr .day.today {
  /*background: #9AD6E3;*/
  background:#C0392B;
  color: #ffffff;
  font-weight: bold;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;

}
.cal1 .clndr .clndr-table tr .day.today:hover {
  background: #72c6d8;
}
.cal1 .clndr .clndr-table tr .day.today.event {
   background: #a7dbc1; 
  
}
.cal1 .clndr .clndr-table tr .day.event {
  /*background: #C9C9C9;*/
  background:#2CA8C5;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;

}
.cal1 .clndr .clndr-table tr .day.event:hover {
  background: #B8B8B8;
}
.cal1 .clndr .clndr-table tr .day.inactive {
  background: #ddd;
}
.cal1 .clndr .clndr-table tr .day:last-child {
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}
.cal1 .clndr .clndr-table tr .day .day-contents {
  box-sizing: border-box;
  padding: 8px;
  font-size: 12px;
  text-align: center;
}
.cal1 .clndr .clndr-table tr .empty,
.cal1 .clndr .clndr-table tr .adjacent-month {
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  width: 100%;
  height: inherit;
  background: #fbfbfb;
}
.cal1 .clndr .clndr-table tr .empty:hover,
.cal1 .clndr .clndr-table tr .adjacent-month:hover {
  background: #ddd;
}
.cal1 .clndr .clndr-table tr .empty:last-child,
.cal1 .clndr .clndr-table tr .adjacent-month:last-child {
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}
.cal1 .clndr .clndr-table tr:last-child .day {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.cal1 .clndr .clndr-table tr:last-child .empty {
  border-bottom: 1px solid #000000;
}



/////////////////////////////////////////////////////////////////////////

.cal2 h4 {
  width: 75%;
  text-align: center;
  font-family: 'Droid Sans Mono';
  font-weight: normal;
  color: white;
  font-size: 14px;
  margin: 0 auto 1em auto;
  padding: 1em;
  background: #b63642;
}
.cal2 p {
  text-align: center;
  font-family: 'Droid Sans Mono';
  margin: 3em auto 1em auto;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 2px solid #414141;
  background: #f4f4f4;
}
.cal2 {
  margin: 0px auto;
  width: 350px;
  font-family: 'Droid Sans Mono';
  font-size: 14px;
  float: right;
}
.cal2 .clndr .clndr-controls {
  display: inline-block;
  width: 100%;
  position: relative;
  background-color: #69a776;
  color: white;
  font-weight: bold;
  padding: 5px 0px;
}
.cal2 .clndr .clndr-controls .month {
  float: left;
  width: 33%;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}
.cal2 .clndr .clndr-controls .clndr-control-button {
  float: left;
  width: 33%;
}
.cal2 .clndr .clndr-controls .clndr-control-button.rightalign {
  text-align: right;
  width: 34%;
}
.cal2 .clndr .clndr-controls .clndr-control-button .clndr-next-button {
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  padding: 5px;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.cal2 .clndr .clndr-controls .clndr-control-button .clndr-next-button:hover {
  background: #528B5E;
}
.cal2 .clndr .clndr-controls .clndr-control-button .clndr-next-button.inactive {
  opacity: 0.5;
}
.cal2 .clndr .clndr-controls .clndr-control-button .clndr-next-button.inactive:hover {
  background: none;
  cursor: default;
}
.cal2 .clndr .clndr-controls .clndr-control-button .clndr-previous-button {
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  padding: 5px;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.cal2 .clndr .clndr-controls .clndr-control-button .clndr-previous-button:hover {
  background: #528B5E;
}
.cal2 .clndr .clndr-controls .clndr-control-button .clndr-previous-button.inactive {
  opacity: 0.5;
}
.cal2 .clndr .clndr-controls .clndr-control-button .clndr-previous-button.inactive:hover {
  background: none;
  cursor: default;
}
.cal2 .clndr .clndr-table {
  table-layout: fixed;
  width: 100%;
}
.cal2 .clndr .clndr-table .header-days {
  height: 30px;
  font-weight: bold;
  background-color: #97ce7f;
padding-top: 5px;
padding-bottom: 5px;
}
.cal2 .clndr .clndr-table .header-days .header-day {
  vertical-align: middle;
  text-align: center;
  color: #fff;
  font-family: Asap, Helvetica, Arial;
}
.cal2 .clndr .clndr-table .header-days .header-day:last-child {
  /*border-right: 1px solid #000000;*/
}
.cal2 .clndr .clndr-table tr {
  height: 40px;
}
.cal2 .clndr .clndr-table tr td {
  /*vertical-align: top;*/
}
.cal2 .clndr .clndr-table tr .day {
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  background-color: #EBEBEB;
  width: 100%;
  height: inherit;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;

}
.cal2 .clndr .clndr-table tr .day:hover {
  background: #B8B8B8;
}
.cal2 .clndr .clndr-table tr .day.today {
  /*background: #9AD6E3;*/
  background:#C0392B;
  color: #ffffff;
  font-weight: bold;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;

}
.cal2 .clndr .clndr-table tr .day.today:hover {
  background: #72c6d8;
}
.cal2 .clndr .clndr-table tr .day.today.event {
   background: #a7dbc1; 
  
}
.cal2 .clndr .clndr-table tr .day.event {
  /*background: #C9C9C9;*/
  background:#2CA8C5;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;

}
.cal2 .clndr .clndr-table tr .day.event:hover {
  background: #B8B8B8;
}
.cal2 .clndr .clndr-table tr .day.inactive {
  background: #ddd;
}
.cal2 .clndr .clndr-table tr .day:last-child {
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}
.cal2 .clndr .clndr-table tr .day .day-contents {
  box-sizing: border-box;
  padding: 8px;
  font-size: 12px;
  text-align: center;
}
.cal2 .clndr .clndr-table tr .empty,
.cal2 .clndr .clndr-table tr .adjacent-month {
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  width: 100%;
  height: inherit;
  background: #fbfbfb;
}
.cal2 .clndr .clndr-table tr .empty:hover,
.cal2 .clndr .clndr-table tr .adjacent-month:hover {
  background: #ddd;
}
.cal2 .clndr .clndr-table tr .empty:last-child,
.cal2 .clndr .clndr-table tr .adjacent-month:last-child {
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}
.cal2 .clndr .clndr-table tr:last-child .day {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.cal2 .clndr .clndr-table tr:last-child .empty {
  border-bottom: 1px solid #000000;
}
