<<<<<<< HEAD
@charset "utf-8";
#diary{
	width: 1024px;
	margin: 10px auto;
	padding: 10px;
	border: 1px solid #CCC;
	display: table;
}
#dateCon{
	float: left;
}
#dateNum{
	font-size: 80px;
	color: #555;
	display: inline-block;
}
#dateNumCon{
	float: left;
	/*font-family: 'Bonbon', cursive;*/
	font-family: 'Comfortaa', cursive;
}
#clock{
	font-size: 18px;
	float: left;
	margin-top: 14px;
	margin-left: 25px;
	/*font-family: 'Sigmar One', cursive;*/
}
#fullDate{
	clear: both;
	font-family: "Times New Roman", Times, serif;
}
#diaryCon{
	float: left;
	clear: left;
}
#diaryEntry{
	/*background-color: #fff; 
	background-image: 
	linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
	linear-gradient(#eee .1em, transparent .1em);
	background-size: 100% 30px;
	height: 500px;
	width: 1000px;*/
}
.paper {

  /*font: normal 12px/1.5 "Lucida Grande", arial, sans-serif;*/

  width: 50%;

  height: 80%;

  margin: 0 auto;

  padding: 6px 5px 4px 42px;

  position: relative;

  color: #444;

  line-height: 20px;

  border: 1px solid #d2d2d2;

  background: #fff;

  background: -webkit-gradient(linear, 0 0, 0 100%, from(#d9eaf3), color-stop(4%, #fff)) 0 4px;

  background: -webkit-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;

  background: -moz-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;

  background: -ms-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;

  background: -o-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;

  background: linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;

  -webkit-background-size: 100% 20px;

  -moz-background-size: 100% 20px;

  -ms-background-size: 100% 20px;

  -o-background-size: 100% 20px;

  background-size: 100% 20px;

  -webkit-border-radius: 3px;

  -moz-border-radius: 3px;

  border-radius: 3px;

  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.07);

  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.07);

  box-shadow: 0 1px 2px rgba(0,0,0,0.07);

  width: 816px;

  height: 1056px;
}
.paper::before {

  content: '';

  position: absolute;

  width: 4px;

  top: 0;

  left: 30px;

  bottom: 0;

  border: 1px solid;

  border-color: transparent #efe4e4;

}
.paper::before {

  content: '';

  position: absolute;

  width: 4px;

  top: 0;

  left: 30px;

  bottom: 0;

  border: 1px solid;

  border-color: transparent #efe4e4;

}
.head {

   background-color: #FFF;

   min-height: 124px;

   margin-left: -42px;

   margin-top: -4px;

}
#diaryEntry p{
	font-family: "Comic Sans MS", cursive;
	margin: 0px;
}
#diaryEntry span{
	display: inline;
=======
@charset "utf-8";
#diary{
	width: 1024px;
	margin: 10px auto;
	padding: 10px;
	border: 1px solid #CCC;
	display: table;
}
#dateCon{
	float: left;
}
#dateNum{
	font-size: 80px;
	color: #555;
	display: inline-block;
}
#dateNumCon{
	float: left;
	/*font-family: 'Bonbon', cursive;*/
	font-family: 'Comfortaa', cursive;
}
#clock{
	font-size: 18px;
	float: left;
	margin-top: 14px;
	margin-left: 25px;
	/*font-family: 'Sigmar One', cursive;*/
}
#fullDate{
	clear: both;
	font-family: "Times New Roman", Times, serif;
}
#diaryCon{
	float: left;
	clear: left;
}
#diaryEntry{
	/*background-color: #fff; 
	background-image: 
	linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
	linear-gradient(#eee .1em, transparent .1em);
	background-size: 100% 30px;
	height: 500px;
	width: 1000px;*/
}
.paper {

  /*font: normal 12px/1.5 "Lucida Grande", arial, sans-serif;*/

  width: 50%;

  height: 80%;

  margin: 0 auto;

  padding: 6px 5px 4px 42px;

  position: relative;

  color: #444;

  line-height: 20px;

  border: 1px solid #d2d2d2;

  background: #fff;

  background: -webkit-gradient(linear, 0 0, 0 100%, from(#d9eaf3), color-stop(4%, #fff)) 0 4px;

  background: -webkit-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;

  background: -moz-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;

  background: -ms-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;

  background: -o-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;

  background: linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;

  -webkit-background-size: 100% 20px;

  -moz-background-size: 100% 20px;

  -ms-background-size: 100% 20px;

  -o-background-size: 100% 20px;

  background-size: 100% 20px;

  -webkit-border-radius: 3px;

  -moz-border-radius: 3px;

  border-radius: 3px;

  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.07);

  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.07);

  box-shadow: 0 1px 2px rgba(0,0,0,0.07);

  width: 816px;

  height: 1056px;
}
.paper::before {

  content: '';

  position: absolute;

  width: 4px;

  top: 0;

  left: 30px;

  bottom: 0;

  border: 1px solid;

  border-color: transparent #efe4e4;

}
.paper::before {

  content: '';

  position: absolute;

  width: 4px;

  top: 0;

  left: 30px;

  bottom: 0;

  border: 1px solid;

  border-color: transparent #efe4e4;

}
.head {

   background-color: #FFF;

   min-height: 124px;

   margin-left: -42px;

   margin-top: -4px;

}
#diaryEntry p{
	font-family: "Comic Sans MS", cursive;
	margin: 0px;
}
#diaryEntry span{
	display: inline;
>>>>>>> 9dfc303587d7e0bb565f398f01e632438393e856
}