@charset "utf-8";
/*
#diary{
	width: 1024px;
	margin: 10px auto;
	padding: 10px;
	border: 1px solid #CCC;
	display: table;
}
*/ 
#dateCon{
	float: left;
}
#dateNum{
	font-size: 80px;
	color: #555;
	display: inline-block;
}
#dateNumCon{
	float: left;
	/*font-family: 'Bonbon', cursive;*/
	font-family: 'Comfortaa', cursive;
}
#clock{
	font-size: 18px;
	float: left;
	margin-top: 14px;
	margin-left: 25px;
	font-family: 'Comfortaa', cursive;
}
#fullDate{
	margin-bottom: 15px;
	font-family: 'Comfortaa', cursive;
	font-size: 32px;
}
#calendarCon{
	float: right;
	width: 600px;
}
/*
#diaryCon{
	float: left;
	clear: left;
}
*/ 
#diaryEntry{
	width : 100%;
	height: 380px;
	overflow: hidden;
	position: relative;
	float:left;
}
.page {
	width: 750px;
	min-height: 510px;
	margin: auto;
	padding: 5px 0;
	color: #212121;
	background: white;
	background: -webkit-gradient(linear,left top, left bottom,from(#09C),color-stop(2%, white));
	background: -moz-repeating-linear-gradient(top,#fff,#fff 30px,#09C 31px);
	background: repeating-linear-gradient(top,#fff,#fff 30px,#09C 31px);
	background-attachment: scroll;
	-webkit-background-size: 100% 31px;
	-moz-background-size: 100% 31px;
	background-size: 100% 31px;
}
.page p {
	padding: 0 30px;
	line-height: 30px;
	margin: 0px;
	font-size: 16px;
}
.page h1{
	margin: 2px 10px;
	line-height: 25px;
}
.page h2{
	margin: 2px 10px;
	line-height: 26px;
}
.page h3{
	margin: 0px 10px;
	line-height: 30px;
}
#diaryEntry p{
	font-family: "Comic Sans MS", cursive;
}

#cke_10_text{
	width:120px;
}
