@charset "utf-8";
#globalCon{
	height: 55px;
	width: 1024px;
	margin: auto;
	z-index:1000;
}
#globBar{
	height: 60px;
	width: 1024px;
	background-image: url('../images/greenBarTp.png');
	background-color: #09F;
	position: fixed;
	bottom: 0px;
	border-radius: 20px 20px 0px 0px;
}
#gbSearch{
	width: 300px;
	border-radius: 20px;
	margin: 12px;
	padding: 10px;
	border: 1px solid #0A0;
	background-color: rgba(255,255,255,0.9);
	color: #111;
	outline: none;
	float: right;
}
#globBar ul{
	padding: 0px;
	margin: 0px;
}
#globBar ul li{
	float: left;
	width: auto;
	margin: 5px;
	list-style: none;
}

.gbBtn {
	-moz-box-shadow:inset 0px 1px 0px 0px #a6827e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #a6827e;
	box-shadow:inset 0px 1px 0px 0px #a6827e;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7d5d3b), color-stop(1, #634b30));
	background:-moz-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
	background:-webkit-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
	background:-o-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
	background:-ms-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
	background:linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d5d3b', endColorstr='#634b30',GradientType=0);
	background-color:#7d5d3b;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #54381e;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:12px;
	margin: 15px 5px 0px 5px;
	padding:5px 18px;
	text-decoration:none;
	text-shadow:0px 1px 0px #4d3534;
}
.gbBtn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #634b30), color-stop(1, #7d5d3b));
	background:-moz-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
	background:-webkit-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
	background:-o-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
	background:-ms-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
	background:linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#634b30', endColorstr='#7d5d3b',GradientType=0);
	background-color:#634b30;
}
.gbBtn:active {
	position:relative;
	top:1px;
}
