@charset "utf-8";
body{
	background-image: url('../images/bg.jpg');
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#diaryCon{
	width: 1000px;
	height: 574px;
	margin: 10px auto;
	padding: 13px;
	background-image: url('../images/diarybg.png');
}
#diary{
	width: 960px;
	height: 555px;
	margin: 10px auto;
}
#leftPage{
	width: 475px;
	height: 545px;
	padding: 5px 0px;
	float: left;
	/*background-color: #F0F0F1;*/
	border-radius: 10px 0px 0px 10px;
}
#leftScrollCon{
	width: 475px;
	height: 520px;
	margin-top: 15px;
	position: relative;
	overflow: hidden;
}
#rightPage{
	width: 480px;
	height: 555px;
	float: right;
	/*background-color: #F0F0F1;*/
	border-radius: 0px 10px 10px 0px;
}
.ps-scrollbar-y{
	background-color: #AA2E32 !important;
}
.diaryEntry{
	width: 460px;
	display: inline-block;
	/*background: #F9F9F9;*/
	border-bottom: 2px solid #D9D9D9;
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
}
.dlCon{
	float: left;
}
.entryDate{
	float: left;
	margin: 12px 0px 0px 8px;
	color: #44BAC8;
	font-size: 13px;
	font-weight: bold;
}
.entryContent{
	float: right;
	width: 400px;
	margin-right: 10px;
	font-size: 12px;
	line-height: 20px;
}
.likeBtn{
	float: left;
	margin: 12px 0px 0px 8px;
	width: 20px;
	height: 20px;
	clear: left;
	text-align: center;
}
.likeNum{
	float: left;
	margin: 12px 0px 0px 8px;
	width: 20px;
	height: 20px;
	clear: left;
	font-size: 11px;
	color: #555;
	text-align: center;
}
.layout {
	margin: 2em 15px;
	color: #333;
}
.cal1 {
	margin: 25px !important;
	width: 415px !important;
}
#featBoxCon{
	margin-left: 40px;
}
.featBox{
	display:block;
	width: 70px;
	height: 70px;
	float: left;
	padding: 5px 13px;
	margin: 4px 4px;
	color: #FFFFFF;
	text-align: center;
	font-size: 12px;
}
.red{
	background-color: #870000;
}
.teal{
	background-color: #16A085;
}
.green{
	background-color: #27AE60;
}
.pink{
	background-color: #C0392B;
}
.blue{
	background-color: #2C3E50;
}
.orange{
	background-color: #D35400;
}
.purple{
	background-color: #8E44AD;
}
