@charset "utf-8";
body{
	background-image: url('../images/bg.jpg');
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#diaryCon{
	margin: 10px auto;
	height: 600px;
	width: 1024px;
}
#diary{
	margin: 10px auto;
	height: 600px;
	width: 1024px;
	background-color: #FFFFFF;
}
#leftPage{
	background-image: url('../images/indbg.png');
	background-repeat: repeat-x;
	width: 511px;
	height: 600px;
	float: left;
	border-right: 1px solid #ccc;
}
#leftHead{
	width: 512px;
	height: 85px;
	color: #FFFFFF;
}
#rightPage{
	background-image: url('../images/indbg.png');
	background-repeat: repeat-x;
	width: 512px;
	height: 600px;
	float: right;
}
#rightHead{
	width: 512px;
	height: 85px;
	color: #FFFFFF;
}
#dateNumCon{
	margin: 10px 0px 0px 20px;
	float: left;
	font-size: 50px;
}
#clock{
	margin: 15px 10px 0px 0px;
	float: right;
}
#fullDate{
	
	margin: 10px 10px 0px 0px;
	float: right;
	clear: right;
}
#ridghtRul{
	height: 450px;
}
#suformCon{
	margin: 3px auto;
	padding: 0px 0px 0px 20px;
	background-color: rgba(255,255,255,0.9);
	color: #777;
	font-size: 13px;
	/*height: 500px;*/
}
#fname, #lname, #suemail, #suconemail, #supwd, #suconpwd{
	width: 286px;
	height: 25px;
	padding: 4px;
	margin: 2px;
	border-radius: 0px;
	border: 1px solid #3CBD35;
}
#captchaCon{
	background-color: #FFFFFF;
	width: 448px;
}
.btn{
	width: 300px;
	margin: 10px 0px 0px 80px;
	background-color: #0E8EDC;
	border-radius: 5px;
	border:1px solid #1b36bf;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size: 14px;
	font-weight:bold;
	padding: 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #071354;
}
.btn:hover{
	background-color: #3C58E2;
}
.page {
	width: 512px;
	margin: auto;
	padding: 0px;
	color: #212121;
	background: white;
	background: -webkit-gradient(linear,left top, left bottom,from(#0C9 white));
	background: -moz-repeating-linear-gradient(top,#fff,#fff 30px,#0C9 31px);
	background: repeating-linear-gradient(top,#fff,#fff 30px,#0C9 31px);
	background-attachment: scroll;
	-webkit-background-size: 100% 31px;
	-moz-background-size: 100% 31px;
	background-size: 100% 31px;
}
.recaptchatable a{
	font-size: 10px !important;
}
