#diaryEntryPop{
	height:520px;
	overflow:scroll;
	position:relative;
}

#Diary{
	/* width: 700px; */
}


.modal-overlay{
	display:none;
	position:fixed;
	top: 0;
	left:0;
	bottom:0;
	width:100%;
	height:100%;	
	background-color: rgba(0,0,0,0.3);
	z-index:4;
}
.modal{
	top:10%;
	position: absolute;
	left: 11%;
	width: 1024px;
	height: auto;
	padding: 20px 10px;
	background-color: rgb(255, 255, 255);
	border-radius: 6px;
	box-shadow: 0px 0px 14px rgb(17, 34, 51);
	z-index: 5;
}
.close-box{
	top:8px;
	right: 10px;
	position:absolute;
	width:12px;
	height:12px;
}

.modal > #item-1{
			
	
}
/*
.add-task-box{
	
	float:right;
}

.list-task-box{

	width:60%;
	float:left;
}

.tasklist{
	min-height:160px; 
	padding: 15px;

}
*/
