@charset "utf-8";
.dpost_boxes{
	width: 700px;
	margin: 20px auto 5px;
	padding: 10px;
	line-height: 8px;
	/*border: 1px solid #DEDEDE;
	background: #F9F9F9;*/
	display: block; 
}
.dpost_boxes > .dpost_mini{
	padding: 15px 10px;
	margin: 0px 0px 5px 0px;
	font: 13px/14px Arial,sans-serif;
	border: 1px solid #B2E0C2;
	background: #FDFDFD;
	border-radius: 10px 10px 0px;
}
.dpostTxt{
	word-wrap: break-word;
	font-size: 13px;
	line-height: 22px;
}
.postTime{
	font-size: 11px;
	color: #666;
	float: right;
}