<!-- TAB BAR FOR EACH DAY GOES FROM HERE-->				
		<div id="tabs">
	<ul>
		<li><a href="#task">Tasks</a></li>
		<li><a href="#diary">Diary</a></li>
	</ul>

  <!-- <div id="diaryConPop"> -->
  <div id="diary">
    <div id="diaryEntryPop">
     <div class="page" id="Diary" contenteditable="true">
      <p>Dear Diary,</p>
     </div>
    </div>
  </div>
 <!-- end of 1st tab -->
 
 <div id="task">
<div class="list-task-box">
	<fieldset>
		<legend>Tasks For the Day</legend>
		<div class='tasklist'>
		
		</div>
	</fieldset>

</div>	 
	 
 <div class="add-task-box">
  <form name="task-form" action='unimplemented'>
    <table>
        <tr>
         <td width="70">Title</td>
         <td width="170"><input type="text" name="TaskTitle" id="TaskTitle" placeholder="Task Title Here"/></td>
        </tr>
        <tr>
          <td>Time</td>
          <td>
           <select name="TaskHour">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
           </select>
           <select name="TaskMin">
            <option value="00">00</option>
            <option value="05">05</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="25">25</option>
            <option value="30">30</option>
            <option value="35">35</option>
            <option value="40">40</option>
            <option value="45">45</option>
            <option value="50">50</option>
            <option value="55">55</option>
           </select>
           <select name="TaskAP">
            <option value="a">AM</option>
            <option value="p">PM</option>
           </select>
          </td>
        </tr>
        <tr>
          <td>Description</td>
          <td><textarea name="TaskDescription" id="TaskDescription" placeholder="Task Description Here"></textarea></td>
        </tr>
        <tr>
          <td>Type</td>
          <td><select name="TaskType">
               <option value="0">Select Task Type</option>
              </select>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
              <input type="button" name="addTask" value="Add Task"/>
          </td>
        </tr>
    </table>
  </form>
  </div>
  
</div>
<div style="clear:both;"></div>
</div> <!-- end of tabs -->


<script> 
$(document).ready(function(){
		
	$(".modal").draggable();
	
	$("#Diary").mouseenter(function(){
			if($(".modal").data('uiDraggable')){
				$(".modal").draggable("destroy");
			}
			
		});
	$("#Diary").focusout(function(){
			
				$(".modal").draggable();
			
		});

	var tabs = $('#tabs').tabs();
	
	tabs.find(".ui-tabs-nav").sortable({
			axis:"x",
			stop:function(){
					tabs.tabs("refresh");
				
				}
		
		});
	
  //var cke_popup = CKEDITOR.inline('Diary');
  //var cke_popup = CKEDITOR.replace('Diary',{customConfig: '../js/ckeditor.popup.config.js'  });
  
  var cke_popup = CKEDITOR.inline('Diary', {
		customConfig: '../js/ckeditor.popup.config.js'  
	  });
  
  //console.log(cke_popup);
  $(this).keyup(function(e){
		  if(e.keyCode== 27){
				  if($('.modal-overlay').css('dispay')!='none'){
					  $('.modal-overlay').hide();
					  cke_popup.destroy();
				  }
			  }
	  });
  $('#diaryEntryPop').perfectScrollbar({
	wheelSpeed: 20,
	wheelPropagation: false
  });
});

</script>




