<div id="globalCon">
  <div id="globBar">
   <ul>
    <li><a href="home.php" class="gbBtn">Home</a></li>
    <li><a href="myProfile.php" class="gbBtn">My Profile</a></li>
    <li><a href="#" class="gbBtn">Events</a></li>
    <li><a href="#" class="gbBtn">Manager</a></li>
    <li><a href="#" class="gbBtn">Item 5</a></li>
    <li><a href="#" class="gbBtn">Item 6</a></li>
    <li><a href="#" class="gbBtn">Settings</a></li>
   </ul>
   <form>
    <input type="search" id="gbSearch" placeholder="Search...">
   </form>
  </div>
</div>

