<form action="signup.php" method="POST">
	First Name:<input name="FirstName"/>
	Last Name:<input name="LastName"/>
	Email:<input name="Email"/>
	Password:<input name="Password"/>
<input type="submit"/>
</form>
